@import "tailwindcss";
@font-face{
    font-family: 'Mars Project';
    src:url('/src/assets/Fonts/mars-project/Mars Project/FONT/Mars-Project.otf') format('otf'),
        url('/src/assets/Fonts/Mars-Project.ttf') format('ttf'),
        url('/src/assets/Fonts/mars-project/Mars Project/FONT/Mars-Project.woff') format('woff');
    font-weight: 400; /* (regular) */
    font-style: normal;
}

@font-face{
    font-family: 'Mars Project';
    src:url('/src/assets/Fonts/mars-project/Mars Project/FONT/Mars-Project.otf') format('otf'),
        url('/src/assets/Fonts/mars-project/Mars Project/FONT/Mars-Project.ttf') format('ttf'),
        url('/src/assets/Fonts/mars-project/Mars Project/FONT/Mars-Project.woff') format('woff');
    font-weight: 700; /* (bold) */
    font-style: normal;
}

@theme{
    --animate-slide-in: slide-in 0.5s ease-in-out;
    --animate-slide-out: slide-out 0.5s ease-in-out;

    @keyframes slide-in {
        0%{
            transform: translate(-100%)
        }
        100%{
            transform: translate(0)
        }
    }

    @keyframes slide-out {
        0%{
            transform: translate(0)
        }
        100%{
            transform: translate(-100%)
        }
    }


} 